* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

/**------------------------------------------------HEADER------------------------------------------------------**/
/**------------------------------------------------------------------------------------------------------------**/
.header {
    margin: 0 auto;
    display: flex;
    width: 90%;
    flex-direction: column;
}

.header-menu-wrapper {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-group {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 30px;
}

.logo {

}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    gap: 60px;
    margin-left: 40px;
}

.header-menu-item {
    text-transform: uppercase;
    font-size: 17px;
    display: flex;
    font-weight: 500;
    color: #606060;
}
.header-menu-item:hover {
    cursor: pointer;
}

.header-search {
    padding: 20px 80px;
    background: url(../img/search.png) no-repeat scroll 30px 15px;
    background-color: #ededed;
    border-radius: 15px;
    border: none;
}
.header-search::placeholder {
    text-align: center;
    line-height: 56px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    color: #C2C3CB;
}
.header-search:focus {
    outline: none;
}

.connect-wallet {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 16px;
    background-color: black;
    padding: 17.5px;
    border-radius: 15px;
}

.header-content-wrapper {
    margin-top: 60px;
    display: flex;
}

.header-text-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.stick {
    width: 190px;
    height: 1px;
    background-color: #201f1f31;
    margin-bottom: -10px;
}

.header-text-title {
    font-size: 75px;
    font-weight: 600;
    color: #141416;
    line-height: 120%;
}

.header-text-desc {
    font-size: 18px;
    color: #676767;
    line-height: 28px;
}

.header-content-button-group {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.explore-more-header {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 16px;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    letter-spacing: 1%;
}

.create-nft-header {
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-size: 16px;
    background-color: white;
    border-color: black;
    padding: 20px;
    border-radius: 15px;
    letter-spacing: 1%;
}

.header-content-stats-group {
    display: flex;
    margin-top: 70px;
    gap: 60px;
}

.header-content-stats-item {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.header-content-stats-item-num {
    color: #141416;
    font-size: 36px;
    font-weight: 600;
}

.header-content-stats-item-desc {
    color: #848586;
    font-size: 12px;
}

.header-img-group {
    display: flex;
}
.header-img-group>img {
    left: 80px;
    position: relative;
}

/**-----------------------------------------------WEEKLY TOP----------------------------------------------------**/
/**-------------------------------------------------------------------------------------------------------------**/
.week-top {
    background-color: #F1F1F1;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
}

.week-top-title {
    color: #C5C5C5;
    font-size: 45px;
    font-weight: 600;
    display: flex;
    margin: 70px auto;
}

.slider {
}

.slider-viewport {
    display: flex;
    overflow-x: scroll;
    gap: 40px;
}
.slider-viewport:nth-last-child(n) {
    margin-right: 40px;
}
.slider-viewport:nth-child(1) {
    margin-left: 40px;
}
.slider-viewport::-webkit-scrollbar {
    display: none;
}

.nft-item {
    background-color: white;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.151) 5px 5px 20px;
}

.nft-item-timer {
    color: white;
    background-color: #1414165e;
    width: fit-content;
    padding: 7px 10px;
    border-radius: 5px;
    align-self: flex-end;
    position: relative;
    top: 50px;
    right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.nft-item-img>img {
    border-radius: 15px;
}

.nft-item-title {
    font-size: 21px;
    font-weight: 600;
    color: #141416;
    margin-top: 10px;
}

.nft-item-bottom-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nft-item-current-bid {
    display: flex;
    flex-direction: column;
    color: #94A3B8;
    font-size: 14px;
    justify-content: space-around;
}

.ntf-item-current-bid-val {
    color: #141416;
    font-size: 16px;
    font-weight: 500;
}

.nft-item-place-bid {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 14px;
    background-color: black;
    padding: 15px 20px;
    border-radius: 10px;
    letter-spacing: 1%;
}

.slider-controls {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.226) 0 50px 60px;
    background-color: white;
    padding: 20px;
    gap: 50px;
    border-radius: 15px;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.slider-control {
    border: none;
    border-radius: 15px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    width: 60px;
}

.stick2 {
    height: 40px;
    background-color:#6767671f;
    width: 1px;
}

.left {
}

.right {
}

/*----------------------------------------------------TOP COLLECTION---------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.top-collection {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.top-collection-title {
    color: #141416;
    font-size: 45px;
    font-weight: 600;
    margin: 0 auto;
}

.collection-table {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 120px auto;
}

.table-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 60px;
}

.table-header-item {
    font-size: 22px;
    color: #93989A;
    font-weight: 500;
    width: 10%;
    align-self: center;
    text-align: center;
}

.collection-name {
    font-size: 22px;
    color: #93989A;
    font-weight: 500;
    width: 33%;
}

.collection-volume {
}
.collection-addition {
}
.collection-floor-price {
}
.collection-owners-count {
}
.collection-items-count {
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
    border-bottom: 1px solid #EBE9E9;
    padding-bottom: 20px;
}

.collection-owner-info {
    display: flex;
    width: 33%;
}

.table-header-content-item {
    width: 10%;
    text-align: center;
    color: #141416;
    font-size: 22px;
    font-weight: 600;
}

.table-values {
    display: flex;
}

.owner-ico>img {
    width: 84px;
    border-radius: 50px;
}

.owner-info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.collection-name-value {
    font-size: 28px;
    color: #141416;
    font-weight: 500;
}

.collection-owner-value {
    font-size: 22px;
    color: #64748B;
}

.collection-volume-value {
}

.collection-addition-value {
    color: #10C352 !important;
    font-weight: 500px !important;
}

.collection-floor-price-value {
}

.collection-owner-count-value {
}

.collection-item-count-value {
}

.stick3 {
    width: 100%;
    height: 1px;
    background-color: #EBE9E9;
}

/*---------------------------------------------------MARKETPLACE-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.marketplace {
    width: 90%;
    margin: 60px auto;
}

.explore-marketplace-title {
    font-size: 45px;
    font-weight: 600;
    color:#141416;
    margin: 0 auto;
    width: fit-content;
}

.marketplace-button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 60px auto 80px auto;
}

.marketplace-filter-button {
    font-weight: 600;
    color: black;
    font-size: 16px;
    background-color: white;
    border-color: black;
    padding: 20px;
    border-radius: 15px;
    letter-spacing: 1%;
}

.marketplace-content {
}

.marketplace-content-row {
    display: flex;
    justify-content: space-evenly;
}

.stick4 {
    width: 100%;
    height: 1px;
    background-color: #CBCBCB;
    margin: 260px auto 120px auto;
}

/*-------------------------------------------------------PLUSES--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.pluses {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.pluses-text {
    font-size: 45px;
    color:#181818;
    font-weight: 600;
}

.gray {
    color: #c5c5c5 !important;
}

.pluses-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.pluses-list-item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.pluses-list-item-img {
    height: fit-content;
    display: flex;
}

.pluses-list-item-text {
    font-size: 18px;
    color: #12141d;
    font-weight: 400;
}

.pluses-img>img {
    position: relative;
    left: 20%;
}

.pluses-text>button {
    margin-top: 80px;
    text-transform: capitalize !important;
}

/*------------------------------------------------------ADS CARD-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.ads-card {
    display: flex;
    width: 90%;
    margin: 140px auto;
    justify-content: space-between;
    background-color: black;
    border-radius: 30px;
}

.ads-card-info {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ads-card-text {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.ads-card-title {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.ads-card-subtitle {
    color: #D4D4D4;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

.ads-card-button-group {
    display: flex;
    gap: 20px;
    justify-self: end;
}

.ads-button-1 {
    font-weight: 600;
    color: black;
    font-size: 21px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    letter-spacing: 1%;
}

.ads-button-2 {
    font-weight: 600;
    color: white;
    font-size: 21px;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    letter-spacing: 1%;
    border-color: white;
}

.ads-card-img {
}

.ads-card-img>img {
}

/*-------------------------------------------------------FOOTER--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 80px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.footer-logo {
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.footer-logo-img {
}

.footer-logo-text {
    font-size: 35px;
    font-weight: 600;
}

.footer-nav-item {
    font-size: 17px;
    font-weight: 500;
    color: #b9b9b9;
}

.section2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sction2-text {
    color: #707070;
    padding-bottom: 80px;
}

.footer-ico-group {
    display: flex;
    gap: 60px;
}

.footer-ico-group>img {
    height: 24px;
}

.stick5 {
    width: 90%;
    height: 1px;
    background-color: #818181;
    margin: 40px auto 60px auto;
}